.wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    color:white;
    z-index: 1001;
}

.wrapper > div {
    cursor:auto;
}

.closeBtn {
    align-self: flex-end;
}

.img {
    max-height: 92vh;
    max-width: 92vw;
    box-shadow: 0px 0px 8px 1px black;
}

.image {
    cursor:zoom-in;
}