* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    margin: 55px auto 0 auto;
    padding: 0 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin {
    margin: 20px 0;
}