.wrapper {
    width: 100%;
    background-color: var(--main-blue);
    height: 200px;
    box-shadow: inset -2px -2px 12px 2px rgb(50, 64, 80);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link {
    color:white;
    text-decoration: none;
}