.wrapper {
    border-right: 3px solid whitesmoke;
    width: 66px;
    flex-shrink: 0;
    transition-duration: 0.4s;
    transition-property: width;
}

.active {
    width: 250px;
}

.ctrlBtn:hover {
    background-color: whitesmoke;
}

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    top:55px;
    padding: 6px 12px;
}

.icon {
    font-size: 1.2rem;
    color:rgba(0,0,0,0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
}

.btnWrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 12px;
    color: initial;
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btnWrapper:hover {
    background-color: whitesmoke;
}

.btnWrapper + .btnWrapper {
    margin-top: 4px;
}

.btnTitle {
    font-weight: bold;
    display: block;
    min-width: 100px;
}

.expanded {
    min-width: 200px;
}

